{% extends 'base.html' %}

{% load static %}

{% block title %}Nagoyameshi{% endblock %}

{% block contents%}
<div class="my-div-style">
    <h1>店舗一覧</h1>
    <table border="1">
        <thead>
            <tr>
                <th>店舗名</th>
                <th>郵便番号</th>
                <th>住所</th>
                <th>電話番号</th>
                <th>下限金額</th>
                <th>上限金額</th>
                <th>開店時間</th>
                <th>閉店時間</th>
            </tr>
        </thead>
        {% for location in object_list %}
        <tr>
            <td>{{ location.name }}</td>
            <td>{{ location.postal_code }}</td>
            <td>{{ location.address }}</td>
            <td>{{ location.phonenumber }}</td>
            <td>{{ location.price_low }}円</td>
            <td>{{ location.price_high }}円</td>
            <td>{{ location.time_open }}</td>
            <td>{{ location.time_close }}</td>
        </tr>
        {% endfor %}
    </table>
</div>
    

    {{ page_obj.number }} / {{ page_obj.paginator.num_pages }} ページ<br>
    {# 前へ #}
    {% if page_obj.has_previous %}
    <a href="?page=1">&laquo; 先頭</a>
    <a href="?page={{ page_obj.previous_page_number }}">前へ</a>
    {% endif %}

    {# 次へ #}
    {% if page_obj.has_next %}
    <a href="?page={{ page_obj.next_page_number }}">次へ</a>
    <a href="?page={{ page_obj.paginator.num_pages }}">最後 &raquo;</a>
    {% endif %}
{% endblock %}