{% extends 'base.html' %}

{% load static %}

{% block title %}Nagoyameshi{% endblock %}

{% block header%}

<div class="my-div-style detail-contents">
    <h1 class="main-h1">店舗詳細</h1>
</div>
<div class="text-center">
    <h3>{{ location.name }}</h3>
    <img class="detail-img" src="{{ location.image.url }}" class="location-img">
    <p>{{ location.description }}</p>
</div>

<div class="text-center">
    <table class="table table-striped table-hover table-bordered">
        <tbody>
            <tr>
                <td>価格帯</td>
                <td>{{ location.price_low }}円～{{ location.price_high }}円</td>
            </tr>
            <tr>
                <td>座席数</td>
                <td>{{ location.capacity }}席</td>
            </tr>
            <tr>
                <td>定休日</td>
                <td>
                    {% for holiday in location.holiday.all %}
                    <span>{{ holiday }}　</span>
                    {% empty %}
                    <span>なし</span>
                    {% endfor %}
                </td>
            </tr>
            <tr>
                <td>郵便番号</td>
                <td>{{ location.postal_code }}</td>
            </tr>
            <tr>
                <td>住所</td>
                <td>{{ location.address }}</td>
            </tr>
            <tr>
                <td>電話番号</td>
                <td>{{ location.phonenumber }}</td>
            </tr>
            <tr>
                <td>営業時間</td>
                <td>{{ location.time_open }} - {{ location.time_close }}</td>
            </tr>
        </tbody>
    </table>
</div>

<div class="text-center mb-4">
    <a class="btn btn-primary text-white w-50" href="{% url 'tabelog:reservation_create' location_id=location.pk %}">予約する</a>
</div>

{% if user.is_authenticated %}
    {% if is_favorite %}
        <p class="text-center">★　登録済み</p>
    {% else %}
        <form method="post" action="{% url 'tabelog:add_favorite' location.id %}">
            {% csrf_token %}
            <div class="text-center">
                <button class="btn btn-primary text-white w-50" type="submit">★　お気に入りに追加</button>
            </div>
        </form>
    {% endif %}
{% else %}
    <p class="text-center">お気に入り機能はログインが必要です</p>
{% endif %}

{% if not average_rate == 0 %}
<h3 class="section-title text-center">口コミ情報</h3>
<div class="star">
    <div class="star-rating">
        <div class="star-rating-front" style="width: {{ average_rate }}%">★★★★★</div>
        <div class="star-rating-back">★★★★★</div>
    </div>
    <p>({{ average|floatformat }}点 / {{ review_count }}件)</p>
    {% else %}
    <p>　(まだ評価はありません。最初のレビューをお願いします！)</p>
    {% endif %}
</div>
<div class="row text-center">
    <div class="col-md-12">
        {% if review_list %}
            <h3>レビューコメント</h3>
            {% for item in review_list %}
                <div class="balloon5">
                    <div class="faceicon">
                        <img src="{% static 'assets/img/reviewer.png' %}">
                        <p>{{ item.customer.name }}</p>
                    </div>
                    <div class="chatting">
                        <div class="says">
                            <div class="star-rating">
                                <div class="star-rating-front" style="width: {{ item.get_percent }}%">★★★★★</div>
                                <div class="star-rating-back">★★★★★</div>
                            </div>
                            <br>
                            <p>{{ item.comment }}</p>
                            <p>{{ item.created_date }}</p>            
                        </div>
                    </div>
                </div>
            {% endfor %}
        {% else %}
        <br>
            <p>まだレビューはありません。</p>
            <br>
        {% endif %}
        <hr>
        <h3>レビューを投稿する</h3>
        {% if user.is_authenticated %}
            {% if has_posted_review %}
                <p>この店舗にはすでにレビューを投稿しています。</p>
            {% else %}
                {% if error_message %}
                    <div class="alert alert-danger">
                        <ul>
                            {% for error in error_message %}
                                <li>{{ error }}</li>
                            {% endfor %}
                        </ul>
                    </div>
                {% endif %}
                <form class="" action="" method="POST">
                    {{ review_form.non_field_errors }}
                    <div class="evaluation" style="text-align: center;">
                        <input id="score1" type="radio" name="score" value="5" />
                        <label for="score1"><span class="text">最高</span>★</label>
                        <input id="score2" type="radio" name="score" value="4" />
                        <label for="score2"><span class="text">良い</span>★</label>
                        <input id="score3" type="radio" name="score" value="3" />
                        <label for="score3"><span class="text">普通</span>★</label>
                        <input id="score4" type="radio" name="score" value="2" />
                        <label for="score4"><span class="text">悪い</span>★</label>
                        <input id="score5" type="radio" name="score" value="1" />
                        <label for="score5"><span class="text">最悪</span>★</label>
                    </div>
                    <label for="comment">コメント:</label><br>
                    <textarea name="comment" id="comment">{{ review_form.comment.value|default_if_none:'' }}</textarea>
                    
                    {% csrf_token %}
                    <br><br>
                    <button type="submit" class="btn btn-outline-primary text-white bg-danger">投稿する</button>
                    {% if form.errors %}
                    <br>
                    <p>エラー内容</p>
                        {% for field in form %}
                            {% for error in field.errors %}
                                <p>{{ error }}</p>
                            {% endfor %}
                        {% endfor %}
                    {% endif %} 
                </form>
            {% endif %}
        {% else %}
            <p>レビューコメントを残すにはログインが必要です。</p>
            <br>
            <a class="btn common-btn" href="{% url 'account_signup' %}">新規登録</a>
            <a class="btn common-btn-outline" href="{% url 'account_login' %}">ログイン</a>
        {% endif %}

{% endblock %}