{% extends 'base.html' %}

{% load static %}

{% block title %}MyPage{% endblock %}

{% block header%}
<div class="my-div-style text-center">
    <h1>{{ user.name }}さんのMyPage</h1>
    <div class="MyPage">
        {% if user.stripe_customer %}
            <a class="select mb-4" href="{% url 'edit_profile' %}">プロフィールの編集</a>
            <a class="select mb-4" href="{% url 'account_reset_password' %}">パスワードの変更</a>
            <a class="select mb-4" href="{% url 'reservation_list' %}">予約一覧</a>
            <a class="select mb-4" href="{% url 'favorites_list' %}">お気に入り一覧</a>
            <a class="select mb-4" href="{% url 'review_list' %}">レビュー一覧</a>
            <a class="select mb-4" href="{% url 'update_payment_method' %}">カード情報更新</a>
            <a class="select mb-4" href="{% url 'cancel_subscription' %}">有料プラン解約</a>
        {% else %}
            <a class="select mb-4" href="{% url 'edit_profile' %}">プロフィールの編集</a>
            <a class="select mb-4" href="{% url 'account_reset_password' %}">パスワードの変更</a>
            <a class="select mb-4" href="{% url 'checkout_session' %}">有料プラン登録</a>
        {% endif %}
    </div>
</div><br><br>


{% endblock %}