{% extends 'base.html' %}

{% load static %}
{% load widget_tweaks %}

{% block title %}予約ページ{% endblock %}

{% block header %}
<script src="{% static 'js/scripts.js' %}"></script>
<div class="my-div-style text-center">
    <h1 class="text-center mb-4">ご予約ページ</h1>
    <p>最初に予約日を選択してください</p>
    <form method="post">
        <input type="hidden" id="locationId" value="{{ location.id }}">
        <div class="reservation-form">
            {% csrf_token %}
            <div class="reservation-form-group">
                <div class="reservation-form-row">
                    {{ form.date.label_tag }}
                    {{ form.date|add_class:"reservation-form-control" }}
                </div>
            </div>
            <div class="reservation-form-group">
                <div class="reservation-form-row">
                    <label for="time">予約時間:</label>
                    <select name="time" class="reservation-form-control" id="time"></select>
                </div>
            </div>
            <div class="reservation-form-group">
                <div class="reservation-form-row">
                    {{ form.headcount.label_tag }}
                    {{ form.headcount|add_class:"reservation-form-control" }}
                </div>
            </div>
            <button class="btn btn-primary" type="submit">予約する</button>
        </div>
    </form>
</div>
{% endblock %}
