{% extends 'base.html' %}

{% load static %}

{% block title %}レビュー削除{% endblock %}

{% block header%}
<div class="my-div-style">
    <h1 class="text-center">レビュー削除</h1><br>
    <div class="col-md-12 text-center">
        <form method="post">
            {% csrf_token %}
            以下のレビューを削除してもよろしいですか？<br>
            {{ object }}<br>
            <a href="{% url 'review_list' %}">戻る</a>
            <input type="submit" class="btn btn-danger" value="削除">
        </form>
    </div>

    
</div>
{% endblock %}
