{% extends 'base.html' %}

{% load static %}

{% block title %}Nagoyameshi{% endblock %}

{% block header%}

        <!-- Header-->
        <header class="masthead text-center text-white">
            <div class="masthead-content">
                <div class="my-div-style container px-5">
                    <h1 class="masthead-heading mb-0">名古屋の食を味わう</h1>
                    <h2 class="masthead-subheading mb-0">NAGOYAMESHIは名古屋のB級グルメを集めたサイトです。</h2>
                </div>
            </div>
        </header><br>
        <main>
            <div class="container">
                <form class="d-flex rounded" action="{% url 'location_list' %}" method="get">
                    <input name="q" class="form-control" type="search" placeholder="店舗名・カテゴリで検索" aria-label="Search">
                    <button class="btn btn-outline-primary text-white bg-danger" type="submit">検索</button>
                </form>
            </div>

            <h1 class="main-h1">新着店舗一覧</h1>
            <div class="main-contents mb-4">
                {% for location in object_list %}
                <div>
                    <a class="main-a" href="{% url 'detail' pk=location.pk %}">
                        {% for category in location.category.all %}
                        <span class="location-category">{{ category }}</span>
                        {% endfor %}
                        <p><img src="{{ location.image.url }}" class="location-img"></p>
                        <h3>{{ location.name }}</h3>
                    </a>
                        <p class="text-limit">{{ location.description }}</p>
                </div>
            {% endfor %}
            </div>
        </main>
{% endblock %}

